.index-page-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  position: relative;
  padding: 1rem;
}

.index-page-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 0.1rem solid var(--gray-color);
  transition: opacity 1s, border-radius 1s;
}

.index-page-card__img-circle {
  background-color: var(--secondary-color);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 0.1rem solid var(--gray-color);
}

.index-page-card__img:hover {
  opacity: 0.5;
  transition: opacity 1s;
}

.index-page-card__img--open {
  border-radius: 0;
  transition: border-radius 1s;
}

.index-page-card__information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  max-height: 0;
  padding: 0 1rem 0 1rem;
  background-color: var(--secondary-color);
  overflow: hidden;
  transition: max-height 1s;
}

.index-page-card__information--open {
  max-height: 100rem;
  transition: max-height 1s;
}

.index-page-card__title {
  font-size: 3rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.index-page-card__description {
  font-size: 2.5rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  margin-bottom: 1rem;
}

.index-page-card__genre,
.index-page-card__platform,
.index-page-card__published-by,
.index-page-card__developed-by,
.index-page-card__release-date {
  font-size: 2rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  margin-bottom: 1rem;
}

.index-page-card__genre-span,
.index-page-card__platform-span,
.index-page-card__published-by-span,
.index-page-card__developed-by-span,
.index-page-card__release-date-span {
  font-size: 1.5rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
}

.index-page-card__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

.index-page-card__link-official-website {
  width: auto;
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--white-color);
  background: var(--primary-color);
  text-decoration: none;
  border: none;
  text-align: end;
  font-family: var(--font-montserrat);
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin: 0.5rem 0 0.5rem 0;
}

.index-page-card__link-official-website:hover {
  background-image: linear-gradient(
    to right,
    var(--black-color),
    var(--black-color) 16.65%,
    var(--primary-color) 49.95%,
    var(--secondary-color) 100%
  );
  animation: slidebg 2s linear infinite;
}

.index-page-card__btn-favorite {
  width: auto;
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--white-color);
  background: var(--primary-color);
  text-decoration: none;
  border: none;
  text-align: end;
  font-family: var(--font-montserrat);
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin: 0.5rem 0 0.5rem 0;
}

.index-page-card__btn-favorite:hover {
  background-image: linear-gradient(
    to right,
    var(--black-color),
    var(--black-color) 16.65%,
    var(--primary-color) 49.95%,
    var(--secondary-color) 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes nospin {
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@media only screen and (min-width: 540px) {
  .index-page-card {
    width: auto;
    margin: 0;
  }

  .index-page-card__img {
    height: 40rem;
    width: 40rem;
  }

  .index-page-card__information {
    width: 40rem;
  }
}

@media only screen and (min-width: 1024px) {
  .index-page-card {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
