.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
  padding: 0 0 5rem 0;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 80%;
  height: auto;
}

.footer__icon {
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
  transition: color 1s;
}

.footer__icon:hover {
  color: var(--primary-color);
  transition: color 1s;
}
