.card_favorite_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
  transition: transform 1s;
}

.card_favorite_container:hover {
  transform: scale(0.9);
  transition: transform 1s;
}

.card_favorite_container img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card_favorite_container h2 {
  font-size: 1.5rem;
  font-family: var(--font-montserrat);
  color: #fff;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #251351;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card_favorite_container_information_trash {
  font-size: 1.5rem;
  font-family: var(--font-montserrat);
  color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 540px) {
  .card_favorite_container {
    width: 40rem;
    margin: 1rem;
  }
}
