.carousel_games_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
  background-color: #040926;
  position: relative;
}

.carousel_games_container_carousel {
  height: 35rem;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.carousel_games_container_carousel::before,
.carousel_games_container_carousel::after {
  background: linear-gradient(
    to right,
    #040926 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.carousel_games_container_carousel::before {
  left: 0;
  top: 0;
}

.carousel_games_container_carousel::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
