.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  background-color: transparent;
  position: fixed;
  z-index: 999999;
  top: 0;
  box-shadow: rgba(9, 30, 66, 0.25) 0 0.4rem 0.8rem -0.2rem,
    rgba(9, 30, 66, 0.08) 0 0 0 0.1rem;
  backdrop-filter: blur(0.2rem);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
}

.header__logo img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  background-color: transparent;
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition: max-height 1s;
}

.header__nav.header__nav--open {
  max-height: 100rem;
  padding: 1rem;
  transition: max-height 1s;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  padding: 0 1rem 0 1rem;
}

.header__list li {
  margin-bottom: 1rem;
}

.header__list li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font-montserrat);
  transition: color 1s;
}

.header__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.header__user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1rem;
}

.header__user h2 {
  font-size: 1.5rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  align-self: flex-end;
}

.btn__logout {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 1rem;
  background: none;
  border: none;
  color: var(--white-color);
  font-size: 2rem;
  font-family: var(--font-montserrat);
  cursor: pointer;
}

.header__list li .isActive {
  color: var(--tertiary-color);
  transition: color 1s;
}

@media only screen and (min-width: 1024px) {
  .header__wrapper {
    justify-content: space-between;
  }

  .header__logo {
    width: auto;
  }

  .header__nav {
    flex-flow: row wrap;
    width: auto;
    height: 6rem;
    max-height: 6rem;
    transition: max-height 0s;
  }

  .header__list {
    flex-flow: row wrap;
    width: auto;
    height: 100%;
  }

  .header__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: auto;
    height: 100%;
    margin: 0;
  }

  .btn__logout {
    align-self: center;
    margin-top: 0;
  }

  .header__user {
    width: auto;
    height: auto;
  }

  .header__user img {
    width: 4rem;
    height: 4rem;
  }

  .header__user h2 {
    margin-left: 2rem;
  }
}
