.cards_games_section_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  background-color: #040926;
  padding: 1rem;
}

.cards_games_section_container_title {
  font-size: 4.5rem;
  color: #fff;
  width: 100%;
  font-family: var(--font-montserrat);
  margin: 1rem 0 1rem 0;
}

@media only screen and (min-width: 540px) {
  .cards_games_section_container_title {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .cards_games_section_container_title {
    font-size: 7rem;
  }
}
