.slider_games_container_slider {
  height: 35rem;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider_games_container_slider h2 {
  position: absolute;
  left: 0;
  top: 50%;
  color: #fff;
  font-size: 4rem;
  font-family: var(--font-montserrat);
  z-index: 1000;
  text-transform: uppercase;
}

.slider_games_container_slider_track {
  display: flex;
  width: calc(50rem * 18);
  animation: scroll 40s linear infinite;
  margin-top: 5rem;
}

.slider_games_container_slider_track:hover {
  animation-play-state: paused;
}

.slider-item {
  height: 30rem;
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  perspective: 20rem;
  cursor: pointer;
  position: relative;
}

.slider-item img {
  height: 25rem;
  width: 50rem;
  object-fit: cover;
  transition: transform 1s;
}

.slider-item img:hover {
  transform: translateZ(2rem);
  transition: transform 1s;
}

.slider_games_container_slider::before,
.slider_games_container_slider::after {
  background: linear-gradient(
    to right,
    #040926 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider_games_container_slider::before {
  left: 0;
  top: 0;
}

.slider_games_container_slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider-item-button {
  width: 40%;
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
  background: #040926;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: var(--font-montserrat);
  letter-spacing: 0.1rem;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.slider-item-button:hover {
  background-image: linear-gradient(
    to right,
    #000000,
    #000000 16.65%,
    #02040f 33.3%,
    #040926 49.95%,
    #060e3d 66.6%,
    #091454 83.25%,
    #251351 100%
  );
  animation: slidebg 2s linear infinite;
}

.slider-item:hover .slider-item-button {
  opacity: 1;
  transition: opacity 1s;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25rem * 9));
  }
}

@media only screen and (min-width: 1024px) {
  .slider_games_container_slider h2 {
    font-size: 5rem;
  }
}
