.active__game-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black-int-color), 0.504);
  position: fixed;
  top: 0;
  z-index: 99999999;
}

.active__game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 90%;
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem;
  position: relative;
}

.active__game-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  height: auto;
  width: 100%;
  position: relative;
}

.active__game-header img {
  width: 10rem;
  height: auto;
  object-fit: cover;
}

.active__game-header h2 {
  font-size: 2rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  text-align: center;
  width: 100%;
}

.active__game p {
  font-size: 1.5rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.active__game-specs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.active__game-specs h3 {
  font-size: 1.5rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  margin: 1rem 0 1rem 0;
}

.active__game-specs h3 span {
  font-size: 1.2rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
}

.active__game-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.active__game-links a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--white-color);
  font-family: var(--font-montserrat);
  cursor: pointer;
}

.close_active_game {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background-color: var(--white-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.active_game_trash {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  background-color: var(--white-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .active__game-specs {
    flex-flow: row wrap;
  }
}

@media only screen and (min-width: 1024px) {
  .active__game {
    width: 70rem;
  }

  .active__game-header img {
    width: 25rem;
  }

  .active__game-header h2 {
    font-size: 4rem;
  }

  .active__game p {
    font-size: 3rem;
  }

  .active__game-specs h3 {
    font-size: 2.5rem;
  }

  .active__game-specs h3 span {
    font-size: 2rem;
  }

  .active__game-links a {
    font-size: 1.5rem;
  }
}
